<div class="row">
  <div class="d-flex mx-auto logo">
    <%= link_to(image_tag("kitchy_Logo.png"), root_path) %>
  </div>

</div>

<h1 class="new-profile">NEW PROFILE</h1>

<%= render 'form', profile: @profile %>

<div class="d-flex justify-content-center product-show-footer">
<%= link_to 'Back', profiles_path %>
</div>
