// Place all the styles related to the Products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// .product-card {
//   margin-left: 10px;
// }




.navbar-font {
  font-family: 'Barlow', sans-serif;
}

.product-category{
  font-family: 'Barlow', sans-serif;
  font-size: 20px;
}

.product-info {
  padding-top: 20px;
  font-family: 'Barlow', sans-serif;
  color: black;
  font-weight: 200;
}

.bg-kitchy {
  background-color: white;
  // border-style: solid;
  // border-color: #F05742;
  // border-width: thin;
  // color: #F05742;
}

.product-bg {
  background-color: white;
  // border-style: solid;
  // border-color: #F05742;
  // border-width: thin;
}

.new-product {
  font-size:
}
