
<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <!-- <h1>Welcome to kitchy.com, <% @user%></h1> -->
    <p>
      <!-- You've create this <% @product %><br> -->
    </p>

  </body>
</html>
